html,body{
    background-image: url("assets/technology/background-technology-desktop.jpg");
}
.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.meet {
  position: absolute;
  top:15%;
  left:12%;
  font-weight: 100;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
  }

  a{
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
  }
  .number {
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-size: 30px;
    color: white;
    position: relative;
   width: 60px;
   border-radius: 100%;
   background-color: black;
   border: 1.5px solid #9a9898;
}
.activenum {
    background-color: white;
   border: 1.5px solid black;
   color: black;
  }

.number:hover{
    border: 1.5px solid white;
    background-color: black;
    color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
    
  .main1 {
    width: 40%;
  }
  .content{
    padding-right: 23%;
  }

  img{
    height: 75%;
    width: 75%;
  }


  /* for tablet */
  @media all and (max-width:769px){
    html,body{
      background-image: url("assets/technology/background-technology-tablet.jpg");
  }
    .item-container{
     flex-direction: column;  
    /* margin-bottom: 4%; */
    }
    .number{
      display: inline-block;
    }
    .meet{
      padding-top: 7%;
      position: relative;
      text-align: left;
    }
    .content{
      padding: 0 18%;
    }
    .menu{
     flex-direction: row;
      order: 2;
      width: 100%;
      padding: 3% ;
      justify-content: space-evenly;
    }
    .main1{
      order: 3;
      width: 100%;
      padding-top: 5%;
    }
    .main2{
      padding-top: 5%;
      order:1;
      width: 100%;
    }
    img{
      padding-top:2% ;
      height: 100%;
      width: 100%;
    }
  }

    /* for Mobile 376 X 667*/
@media all and (max-width: 376px) {
  .number{
    display: flex;
    width: 35px;
    height: 35px;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
  }
h3{
  font-size:36px
}
  .main1{
    padding-top: 0;
  }
  .content{
  padding:0 4.5%;  
  }
  
}